<h3>Add comment</h3>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="form">
  <%= form_for [@article, @comment] do |f| %>
  <div class="form-field">
    <%= f.text_area :body, rows: 5, cols: 40 %>
  </div>
  <div class="form-action">
    <%= f.submit 'add comment' %>
  </div>
  <% end %>
</div>
