<div class="row comment-box">
<div class="small-1 columns vote-count">
  <%= comment.score %>
</div>
<div class="small-1 columns vote-buttons">
  <%= render 'shared/vote_buttons', comment: comment, article: nil %>
</div>
<div class="small-10 columns comment-text">
  <i class="comment-details"><%= comment.user.email %> posted: </i>
  <p><%= comment.content %></p>
</div>
</div>
