<h3> Add a Comment! </h3>
<!-- added parent and child paths since they are -->
<%= form_for [@article, @comment] do |f| %>
<%= f.label :body, 'Comment' %>
<%= f.text_area :body %>
<%= f.submit %>
<% end %>

