<div class="row">
  <div class="small-1 columns count-box">
    <%= article.score %>
  </div>
  <div class="small-1 columns vote-buttons">
    <%= render 'shared/vote_buttons', article: article, comment: nil %>
  </div>
  <div class="small-10 columns main">
