<div class="row">
  <div class="small-1 columns count-box">
    <%= article.score %>
  </div>

  <%= render 'shared/vote_buttons', article: article, comment: nil %>
  <div class="small-10 columns end main">
