<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title lead">Edit Article</h2>
  </div>

  <div class="panel-body">
    <%= render 'form', article: @article, user: @user %>
  </div>
</div>
