<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title lead">
          Articles
        </h1>
      </div>

      <table class="table table-hover">
        <tbody>
          <%= render @articles %>
        </tbody>
      </table>
    </div>
  </div>
</div>
