<h1>Hexer News</h1>
<%=link_to 'Create new article', new_article_path %>

<ul>
  <% @articles.each do |article|%>
    <li> <%=link_to article.title, article.url %> | <%=article.url %></li>
  <% end %>
</ul>
