<h3> Articles </h3>

<dl>
  <% @articles.each do |article| %>
    <dt> Title: <%= article.title %> </dt>
    <dd> URL: <%= article.url %> </dd>
    <dd> Submitted at: <%= article.submitted_at %> </dd>
  <% end %>
</dl>
