<div class="container">
  <div class="row">
    <div class="col-6">
      <ol><h3>THE INDEX!</h3>
        <%= render partial: "article", collection: @articles %>
      </ol>
      <%= link_to 'Submit a new Article!', new_article_path,type:"button", class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
