<div class="">
  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-md-2 text-center">
        <h1>6</h1>
        <p>current score</p>
        <hr>


      </div>
      <div class="col-md-8 ">
      <span class="glyphicon glyphicon-flash text-center"></span>
        <h4><%= article.title %></h4>
        <p><%= article.body %></p>


      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <a href="#">Read more</a>
        </div>
        <div class="btn-group">
          <a href="#">Upvote</a>
        </div>
        <div class="btn-group">
          <a href="#">Downvote</a>
        </div>
        <div class="btn-group">
          <a href="#">Comment</a>
        </div>
      </div>


        <hr>
      </div>
      <div class="col-md-2 text-center">
        <h1>4</h1>
        <p>people are talking about this</p>
        <hr>


      </div>
    </div>
  <% end %>
</div>



