<% @articles.each do |article| %>
  <div class="article_box">
    <%= render 'article_box_opener', article: article %>
      <span class="article-title"><%= link_to article.title, article.url %></span><br>
      <span class="article-details"><%= link_to "details", article_path(article) %></span>
    <%= render 'article_box_closer', article: article %>
  </div>
<% end %>
