<h1>All Articles</h1>

<ul>
<% @articles.each do |article| %>
  <li>
    <%= article.title %><br>
    <%= link_to article.url, article.url %><br>
    submitted: <%= article.created_at.strftime('%c') %>
  </li>
<% end %>
</ul>
