<%= link_to 'New Article', new_article_path %>

<!-- target causes the url to open in a seperate tab. -->

<table>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article.url, target: '_blank' %></td>
      <td><%= article.created_at %></td>
      <td><%= link_to "#{article.comments.count} comments", article_comments_path(article) %>
    </tr>
  <% end %>
</table>
