<h3> Articles Index </h3>
<p> display all articles </p>
<% @articles.each do |article| %>
  <div><%= link_to article.title, article.url %></div>
  <div>Submitted at:<%= article.submitted_at %></div>
  <div><%= link_to "View Comments", articles_path(article) %></div>
<% end %>
