<% @articles.each do |article| %>
  <div class="article_box">
    <%= render 'article_box_opener', article: article %>
      <%= link_to article.title, article.url %><br>
      <%= link_to "details", article_path(article) %>
    <%= render 'article_box_closer', article: article %>
  </div>
<% end %>
