<h1> Index page for Articles! </h1>

<%= link_to 'New Article', new_article_path %>



<% @articles.each do |article| %>
  <div class = 'row'>
  <%= link_to article.title, article.url %>
  <%= link_to 'Comment', new_article_comment_path(article) %>
  </div>
<% end %>


