<h1>Show page for articles </h1>
<p> display the article, plus all comments on article </p>
<p> Need: user on article, comments on article, users on comments </p>

<p> Posted by <%= @user.email %></p>
<div><%= @article.title %></div>
<div><%= link_to nil, @article.url %></div>
<p> Comments....</p>
