<%= render 'article_box', article: @article %>
<p>Created by user #<%= @article.user_id %> </p>

<% @article.comments.each do |comment| %>
  <p><%= comment.user.email %> posted:</p>
  <p><%= comment.content %></p>
  <br>
<% end %>
