<h1>What's trending right now:</h1>

<div class='row'>
  <div class='large-4 columns'>
    <ul class='side-nav'>
    <% @articles.each do |article| %>
      <tr><a href="<%= article.url %>" target="_blank"><%= article.title %></a></tr>
      <br>
    <% end %>
    </ul>
  </div>
  <div class='large-4 columns'>
  </div>
  <div class='large-4 columns'>
    <p>Join the discussion:</p>
  </div>

