body {
  background: rgba(22, 160, 133,1.0);
  color: white;
}

h1 {
  color: white;
  font-family: 'Josefin Slab', serif;
}

.side-nav {
  background: rgba(236, 240, 241,1.0);
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  padding-left: 18px;
}
