/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
MY COLORS
light cream --- 243,235,196
next darker --- 237,219,185
more neutral -- 223,208,181
cooler color -- 203,200,175
medium aqua --- 157,199,175
*/

.stuff {
  max-width: 800px;
  margin: 0 auto;
}

.main-things {
  margin-top: 10px;
}

.article_box {
  width: 100%;
  margin: 8px 0;
}

.article_box .main {
    background: rgba(243,235,196, 0.5);

}

.article_box .vote-count {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background: white;
}

.count-box {
  min-height: 100%;
  margin: 0;
}

.vote-buttons form {
  margin: 0;
}

.vote-buttons input[type="submit"] {
  padding: 2px 0;
  margin: -1px 0 0 0;
  width: 100%;
  border: 0;
}

/****** NAVBAR OVERRIDE STUFF *********/

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
  background: rgba(157,199,175, 1);
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: rgba(203, 200, 175, 1);
}
.top-bar-section li:not(.has-form) a.fake-link:not(.button):hover {
  background: rgba(157,199,175, 1);
}


